{% extends 'partials/base.html.twig' %}

{% block content %}

  <h2>All issues</h2>

  {{ content }}

  <ul>
  {% for issue in issues %}
    <li><a href="{{ issue_base_url }}/{{ issue.nid}}">{{ issue.title}}</a></li>
  {% endfor %}
  </ul>

{% endblock %}
